body {
  background: #4286f4;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  margin: 0 10%;
}
section {
  width: 70%;
  float: right;
}
.header {
  font-family: 'Pacifico', cursive;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.box {
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 0 10px;
}
aside {
  width: 25%;
  float: left;
}
.inline {
  display: inline-block;
}
