body {
  background: #4286f4;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  margin: 0 10%;
}
section {
  width: 70%;
  float: right;
}
.header {
  color: #000;
  background: #fff;
  font-family: 'Pacifico', cursive;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
nav {
  width: 30%;
  float: left;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
