body {
  background: #4286f4;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  margin: 0 10%;
}
section {
  width: 70%;
  float: right;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.inline {
  display: inline-block;
}
