body {
  background: #4286f4;
  color: #fff;
  font-family: 'Mukta', sans-serif;
  margin: 0 10%;
}
.box {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #525252;
}
aside {
  width: 25%;
  float: left;
}
a {
  text-decoration: none;
  color: #4286f4;
}
a:hover {
  color: #8ab0ef;
}
li {
  list-style: none;
}
section {
  width: 70%;
  float: right;
  margin-bottom: 10px;
}
.inline {
  display: inline-block;
}
